accelerate
bitsandbytes
datasets
deepspeed
diffusers
# dskernels
einops
fairscale
ftfy
h5py
lightning
lycoris_lora
numpy
omegaconf
open-clip-torch==2.24.0
opencv-python
prodigyopt
python-rapidjson
requests
safetensors
scipy
tensorboard
timm
toml
torchvision
transformers
# triton
wandb
xformers
